<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= service.duration %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= service.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= service.user_id %>
  </p>

</div>
